.mobile-grid {
	width: 100%;
	height: auto;
	.grid-item-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}

.mobile-grid-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	.mobile-grid-item {
		margin-bottom: 2px;
		width: inherit; 
	}

	.width-33 {
		width: calc(33.33% - 1.4px);
		height: 110px;	
	}

	.width-50 {
		width: calc(50% - 1px);
		height: 110px;
	}

	.width-100 {
		width: 100%;
		height: 110px;
	}

	.square {
		width: 100%;
		height: 220px;
	}
	.green {
		background: $groenemannen-green;
	}
	.blue {
		background: $icey-blue;
	}
	.red {
		background: $risingsun-red;
	}
	.grid-link {
	    display:inline-block;
	    width:100%;
	    height:100%;
	    text-decoration: none;
	    display: flex;
	    justify-content: center;
	}
	.right-spacing {
		margin-right: 1px;
	}
	.left-spacing {
		margin-left: 1px; 
	}
	.both-side-spacing {
		margin: 0 1px;
	}
}